// $color: (
//     color1: #10454F,
//     color2: #506266,
//     color3: #818274,
//     color4: #A3AB78,
//     color5: #BDE038
//     );

$color-link : #633f5f;
$color-link-hover : #c68bdc;
$color-class-cercle : rgb(255, 114, 114);
$color-class-cercle-hover : rgb(251, 87, 87);
$color-border-aside : #f3d3ff ;
$color-border-inscription : #f3d3ff ;
$color-boxshadow-inscription : rgba(255, 114, 114, 0.283); ;