/* Error: (color1: #10454F, color2: #506266, color3: #818274, color4: #A3AB78, color5: #BDE038) isn't a valid CSS value.
 *     ,
 * 102 |         color: $color;
 *     |                ^^^^^^
 *     '
 *   app\scss\normalize.scss 102:10  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: (color1: #10454F, color2: #506266, color3: #818274, color4: #A3AB78, color5: #BDE038) isn't a valid CSS value.\a     \2577 \a 102 \2502          color: $color;\d\a     \2502                 ^^^^^^\a     \2575 \a   app\\scss\\normalize.scss 102:10  root stylesheet";
}
